lm/tema7/act9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="temporada_alta" type="xs:decimal"></xs:element>
                <xs:element name="temporada_baja" type="xs:decimal"></xs:element>
                <xs:element name="temporada_media" type="xs:decimal"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>